.topnav {
    background-color: rgb(219, 234, 247);
    text-align: center;
    padding:1% 1%;
}
.active {
    color:black;
    font-size: 120%;
    text-decoration:double ;
    padding: 1% 1%;

}



.topnav a:hover {
    background-color: rgb(169, 225, 241);
    color:black;
}

.centered-text {
    font-family:georgia;
    text-align: center;
}
.centered-text a:link {
    text-decoration: none;
    color:black

}
.centered-text a:visited {
    color:black
}
.centered-text a:hover {
    color:rgb(162, 234, 221);
}


.header {
        position:relative;
        text-align: center;
        color: black;
        padding: 20px;
        overflow:hidden;
        display: inline-block;
        
    }
    .title {
        position:absolute;
        top:15%;
        left:50%;
        transform: translate(-50%, -50%);
        font-size: 200%;
        font-family: 'georgia';   
    }

    .copyrightHome{
        position:absolute;
        bottom:7%;
        right:0%;
        transform: translate(-50%, -50%);
        font-size: 11px;
        font-family: 'georgia'; 
        color:black;
        background-color: whitesmoke;
    }
    .linkPic {
        width:40%;
        height:30%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .linkPic:hover {
        border:2px solid black;
    }
    /*About Page*/
    .copyright {
        position:absolute;
        bottom:7%;
        right:0%;
        transform: translate(-50%, -50%);
        font-size: 10px;
        font-family: 'georgia'; 
        color:white;  
    }
    .pic {
        width:25%;
        height:30%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .about-me {
        text-align: center;
        text-align: justify;
        color: black;
        padding: (10% 0%);
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        max-width: 1000px;
        font-size: 110%;

      }
.centered-pic{
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-left:10%;
        padding-right:10%;
        width:40%;
    }

    /*past page*/
    .big-pic{
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-left:10%;
        padding-right:10%;
        width:50%;
    }

    .button {
        position:relative;
        display: inline-block;
        margin: 30px auto;
        /*gives margin above and below buttons*/
        width: 10%;
        background:rgb(219, 234, 247);
        transition: 0.4s;
        cursor:grab;
        color: black;
        /*text-align: center;*/
        border: none;  
    }
.red-button {
        position:relative;
        display: inline-block;
        margin: 40px auto;
        /*gives margin above and below buttons*/
        background:rgb(246, 212, 212);
        transition: 0.4s;
        cursor:grab;
        color: black;
        border: solid rgb(239, 112, 112);
        padding: 14px 28px;
    

    }
    .video {
        margin: 0 auto;
        width: 400px;
        height: 340px;
        display: block;
        padding: -10px;
    }
    .buttons {
        text-align: center;
        }
    .button:hover {
        background-color:rgb(0, 82, 109);
        opacity: 1;
        color:whitesmoke;
        box-shadow: 0 8px 10px 0 rgba(0,0,0,0.24), 0 13px 40px 0 rgba(0,0,0,0.19);
    }
    .red-button:hover {
        background-color:rgb(141, 25, 25);
        border: solid rgb(148, 46, 46);
        opacity: 1;
        color:whitesmoke;
        box-shadow: 0 8px 10px 0 rgba(104, 37, 37, 0.24), 0 13px 40px 0 rgba(0,0,0,0.19);
    }

/*Learning point - syntax is .link:visited NOT .link a:visited*/
/*visited must come before link otherwise hover doesn't work after initial visit*/

.link:visited {
    color:rgb(168, 93, 168);
}
    .link {
        color:black;
        text-decoration: underline;
    }
    .link:hover {
        color:blue
    }


/*Footer*/
.footer {
    background-color: rgb(219, 234, 247);
}

/* Modals */
.modal {
    display: none; 
    position: relative; 
    z-index: 1; 
    padding-top: 10px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 98%; 
    overflow: scroll; 
    background-color: #eafdf3;
    margin: auto;
    padding: 20px;
    border: 9px solid rgb(36, 177, 123);
    width: 80%;
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #eafdf3;
    margin: auto;
    padding: 20px;
    border: 9px solid rgb(36, 177, 123);
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #e60d0d;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }